.cloud/
.storage/
secrets.yaml
known_devices.yaml
ip_bans.yaml
html5_push_registrations.conf
.HA_VERSION
*.log
*.log.*
*.xml
*.db
*.db-shm
*.db-wal
*.sqlite
image/
tts/
deps/
esphome/
custom_components/hacs/
model_cache/
__pycache__/
